<div>
    <h3>CHECK-OUT:</h3><br>
<table>
    <tr>
        <td>
            <a href="https://github.com/ankitaanilpawar"><img src="/assets/img/git2.png" height="50px" width="60px"></a>
        </td>
        <td>
            : 
        </td>
        <td>
            <a href="https://github.com/ankitaanilpawar">https://github.com/ankitaanilpawar</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="www.linkedin.com/in/ankita-pawar-a648451aa"><img src="/assets/img/linked-in.png" height="50px" width="60px"></a>
        </td>
        <td>
            : 
        </td>
        <td>
            <a href="www.linkedin.com/in/ankita-pawar-a648451aa">www.linkedin.com/in/ankita-pawar-a648451aar</a>
        </td>
    </tr>
</table><br><br>
<h3>Skills :</h3><br>
<table>
    <tr>
        <th>Languages known :</th>
    </tr>
    <tr *ngFor = "let l of lang" class="tr">
        <td>{{l.name}}</td>
    </tr>
</table>
</div>